<h2>Create Event</h2>
<div class="container">

<div class="row">
<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="eventname">Event Name</label>
        <input type="text" formControlName="eventname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.eventname.errors }" />
        <div *ngIf="submitted && f.eventname.errors" class="invalid-feedback">
            <div *ngIf="f.eventname.errors.required">Event Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="host">Host</label>
        <input type="text" formControlName="host" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.host.errors }" />
        <div *ngIf="submitted && f.host.errors" class="invalid-feedback">
            <div *ngIf="f.host.errors.required">Host is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="venue">Location</label>
        <input type="text" formControlName="venue" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.venue.errors }" />
        <div *ngIf="submitted && f.venue.errors" class="invalid-feedback">
            <div *ngIf="f.venue.errors.required">Location is required</div>
        </div>
    </div>
    <div class="form-group">
            <label for="description">Description</label>
            <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
        </div>
    <div class="form-group">
        <label for="date">Date</label>
        <input type="date" formControlName="date" class="form-control"/>
        <div *ngIf="submitted && f.venue.errors" class="invalid-feedback">
        <div *ngIf="f.date.errors.required">Date is required</div>
    </div>
    </div>
   <div>
        <label class="image-upload-container btn btn-bwm">
                <span>Select Image</span>
                <input #imageInput
                       type="file"
                       accept="image/*"
                       (change)="processFile(imageInput)">
              </label>
              
              
              <div *ngIf="selectedFile" class="img-preview-container">
              
                <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
                     [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
                </div>
              
                <div *ngIf="selectedFile.pending" class="img-loading-overlay">
                  <div class="img-spinning-circle"></div>
                </div>
              
                <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
                <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
              </div>
</div>
    
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Create</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['']" class="btn btn-link">Cancel</a>
    </div>
</form>
</div>
</div>
