<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab>
                <ng-template matTabLabel>
                        <span matBadge="3" matBadgeOverlap="false" matBadgePosition="above after" >Events</span>
                    </ng-template>
            <div class = "section"><h3>Hosting</h3></div>
            <div class="panels">
                <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          This is the expansion title
                        </mat-expansion-panel-header>
                      
                        <p>This is the primary content of the panel.</p>
                      
                        <mat-action-row>
                          <button mat-raised-button color="primary">Edit</button>
                          <button mat-raised-button color="warn">Delete</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              I am hosting
                            </mat-expansion-panel-header>
                          
                            <p>This is the primary content of the panel.</p>
                          
                            <mat-action-row>
                                    <button mat-raised-button color="primary">Edit</button>
                                    <button mat-raised-button color="warn">Delete</button>
                            </mat-action-row>
                          </mat-expansion-panel>
                </div>
                <mat-divider></mat-divider>
                      <div class = "section"><h3>Going</h3></div>
            <div class="panels">
                <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          This is another event
                        </mat-expansion-panel-header>
                      
                        <p>This is the primary content of the panel.</p>
                      
                        <mat-action-row>
                                <button mat-raised-button color="primary">View</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    </div>
        </mat-tab>
        <mat-tab><ng-template matTabLabel>
                <span matBadge="2" matBadgeOverlap="false" matBadgePosition="above after" matBadgeColor="accent">Requests</span>
            </ng-template>  
                <div class = "section"><h3>Submissions</h3></div>
                <div class="panels">
                <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          This is my first submission
                        </mat-expansion-panel-header>
                      
                        <p>This is the primary content of the panel.</p>
                      
                        <mat-action-row>
                                <button mat-raised-button color="primary">Edit</button>
                                <button mat-raised-button color="warn">Delete</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                      <mat-expansion-panel>
                            <mat-expansion-panel-header>
                              This is another submission
                            </mat-expansion-panel-header>
                          
                            <p>This is the primary content of the panel.</p>
                          
                            <mat-action-row>
                                    <button mat-raised-button color="primary">Edit</button>
                                    <button mat-raised-button color="warn">Delete</button>
                            </mat-action-row>
                          </mat-expansion-panel>
                        </div>
                        <mat-divider></mat-divider>
                      <div class = "section"><h3>Contributing</h3></div>
                      <div class="panels">
                <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          I am contributing to this
                        </mat-expansion-panel-header>
                      
                        <p>This is the primary content of the panel.</p>
                      
                        <mat-action-row>
                                <button mat-raised-button color="primary">View</button>
                        </mat-action-row>
                      </mat-expansion-panel>
                    </div>
        </mat-tab>


      </mat-tab-group>
      