.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.container{
  background-color: white;
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 2% 0%;

}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .slider {
    height: 200px;
    margin: 20px auto;
    position: relative;
  }
  .slide1,.slide2,.slide3,.slide4,.slide5 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .slide1 {
    background: url(http://media.dunkedcdn.com/assets/prod/40946/580x0-9_cropped_1371566801_p17tbs0rrjqdt1u4dnk94fe4b63.jpg)no-repeat center;
        background-size: cover;
      animation:fade 1s infinite;
  -webkit-animation:fade 1s infinite;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  
  } 
  .slide2 {
    background: url(http://media.dunkedcdn.com/assets/prod/40946/580x0-9_cropped_1371565525_p17tbqpu0d69c21hetd77dh483.jpeg)no-repeat center;
        background-size: cover;
      animation:fade2 1s infinite;
  -webkit-animation:fade2 1s infinite;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  }
  .slide3 {
      background: url(http://media.dunkedcdn.com/assets/prod/40946/580x0-9_cropped_1371564896_p17tbq6n86jdo3ishhta3fv1i3.jpg)no-repeat center;
        background-size: cover;
      animation:fade3 3s infinite;
  -webkit-animation:fade3 3s infinite;
  -webkit-animation-duration: 15s;
  animation-duration: 15s;
  }
  @keyframes fade
  {
    0%   {opacity:1}
    33.333% { opacity: 0}
    66.666% { opacity: 0}
    100% { opacity: 1}
  }
  @keyframes fade2
  {
    0%   {opacity:0}
    33.333% { opacity: 1}
    66.666% { opacity: 0 }
    100% { opacity: 0}
  }
  @keyframes fade3
  {
    0%   {opacity:0}
    33.333% { opacity: 0}
    66.666% { opacity: 1}
    100% { opacity: 0}
  }
  